@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar { background: @bar_background; color: @foreground; }
#workspaces button { padding: 0 8px; color: @muted; background: transparent; }
#workspaces button.focused { color: @selected_foreground; background: @blue; }
#workspaces button.urgent { color: @selected_foreground; background: @red; }
#window { padding-left: 10px; color: @secondary_foreground; }
#clock, #cpu, #memory, #disk, #network, #bluetooth, #pulseaudio, #battery, #tray, #custom-clipboard, #custom-theme, #custom-caffeine, #custom-power {
  padding: 0 9px;
  margin: 4px 0;
  color: @foreground;
}
#clock { color: @blue; }
#network { color: @green; }
#pulseaudio { color: @yellow; }
#battery.warning { color: @orange; }
#battery.critical { color: @red; }
#custom-clipboard { color: @blue; font-size: 15px; }
#custom-theme { color: @purple; font-size: 15px; }
#custom-caffeine { color: @muted; font-size: 15px; }
#custom-caffeine.active { color: @yellow; }
#custom-power { color: @red; padding-right: 11px; }
tooltip { background: @tooltip_background; border: 1px solid @border; color: @foreground; }
